<form [formGroup]="genericForm">
    <div class="container-fluid">
        <div class="row">
            @for (input of dataSource; track idx; let idx = $index) {
            @let control = genericForm.get(input.name) | formControl;

            <div [ngClass]="input.containerClass ? input.containerClass : 'col-12 mb-3'">
                @switch (input?.controlType) {
                @case (controlType.text) {
                <app-text [input]="input" [control]="control"></app-text>
                }
                @case (controlType.select) {
                <app-select [input]="input" [control]="control"></app-select>
                }
                @case (controlType.datePicker) {
                <app-datepicker [input]="input" [control]="control"></app-datepicker>
                }
                @case (controlType.dateRange) {
                <app-date-range [input]="input" [control]="genericForm.get(input.name) | formGroup"></app-date-range>
                }
                @case (controlType.autocomplete) {
                <app-autocomplete [input]="input" [control]="control"></app-autocomplete>
                }
                @case (controlType.autocompleteMultiselect) {
                <app-autocomplete-multiselect [input]="input" [control]="control"></app-autocomplete-multiselect>
                }
                @case (controlType.checkbox) {
                <app-checkbox [input]="input" [control]="control"></app-checkbox>
                }
                }
            </div>
            }
        </div>
    </div>
    @if(showButtons){
    <div class="d-flex align-items-center my-3 justify-content-end">
        @if (showCancelButton) {
        <button mat-raised-button color="warn" mat-dialog-close>
            <mat-icon>close</mat-icon>
            {{cancelButtonText}}
        </button>
        }
        @if (showSubmitButton) {
        <button mat-raised-button type="submit" color="primary" [disabled]="!genericForm.valid" (click)="onSubmit()">
            <mat-icon>save</mat-icon>
            {{submitButtonText}}
        </button>
        }
    </div>
    }
</form>