<form [formGroup]="genericForm">
    <div class="container-fluid">
        <div class="row">
            @for (input of dataSource; track idx; let idx = $index) {
            <div [ngClass]="input.containerClass ? input.containerClass : 'col-12 mb-3'">
                @switch (input?.controlType) {
                @case (controlType.text) {
                <app-text [textConfig]="input" [control]="genericForm.get(input.name) | formControl"></app-text>
                }
                @case (controlType.select) {
                <app-select [selectConfig]="input" [control]="genericForm.get(input.name) | formControl"></app-select>
                }
                @case (controlType.dateRange) {
                <app-date-range [dateRangeConfig]="input"
                    [control]="genericForm.get(input.name) | formGroup"></app-date-range>
                }
                }
            </div>
            }
        </div>
    </div>
    <button mat-raised-button type="submit" color="primary" (click)="onSubmit()">
        <mat-icon>save</mat-icon>
        Save
    </button>
</form>