<form [formGroup]="genericForm">
    <div class="container-fluid">
        <div class="row">
            @for (input of dataSource; track idx; let idx = $index) {
            <div [ngClass]="input.containerClass ? input.containerClass : 'col-12 mb-3'">
                @switch (input?.controlType) {
                @case (controlType.text) {
                <app-text [textConfig]="input" [control]="genericForm.get(input.name) | formControl"></app-text>
                }
                @case (controlType.select) {
                <app-select [selectConfig]="input" [control]="genericForm.get(input.name) | formControl"></app-select>
                }
                @case (controlType.datePicker) {
                <app-datepicker [datePickerConfig]="input"
                    [control]="genericForm.get(input.name) | formControl"></app-datepicker>
                }
                @case (controlType.dateRange) {
                <app-date-range [dateRangeConfig]="input"
                    [control]="genericForm.get(input.name) | formGroup"></app-date-range>
                }
                @case (controlType.autocomplete) {
                <app-autocomplete [autocompleteConfig]="input"
                    [control]="genericForm.get(input.name) | formControl"></app-autocomplete>
                }
                @case (controlType.autocompleteMultiselect) {
                <app-autocomplete-multiselect [autocompleteMultiselectConfig]="input"
                    [control]="genericForm.get(input.name) | formControl"></app-autocomplete-multiselect>
                }
                }
            </div>
            }
        </div>
    </div>
    <button mat-raised-button type="submit" color="primary" (click)="onSubmit()">
        <mat-icon>save</mat-icon>
        Save
    </button>
</form>