<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" class="sidenav" opened>
        <mat-toolbar color="primary">Menu</mat-toolbar>
        <mat-list>
            <a mat-list-item (click)="logout()">Logout</a>
        </mat-list>
    </mat-sidenav>

    <mat-sidenav-content class="content">
        <mat-toolbar color="primary">
            <button mat-icon-button (click)="sidenav.toggle()" aria-label="Toggle sidenav">
                <mat-icon>menu</mat-icon>
            </button>
            <span>Home Page</span>
        </mat-toolbar>
        <div class="main-content">
            <button mat-button (click)="openDialog()">Open Dialog</button>
            <!-- <app-generic-form [dataSource]="filtersConfig" [editData]="editData" [buttons]="buttons"></app-generic-form> -->
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>