<mat-form-field [appearance]="input.appearance" [class]="input.inputClass" class="w-100">
    <mat-label>{{ input.label }}</mat-label>
    <input matInput [placeholder]="input.label || ''" [formControl]="control" [name]="input.name" type="text"
        [readonly]="input.readonly" />
    @if (input.hint) {
    <mat-hint>{{input.hint}}</mat-hint>
    }
    @if(input.enableSuffixIcon && !control.value){
    <mat-icon matSuffix>{{input.suffixIcon}}</mat-icon>
    }
    @if(!input.readonly && control.value){
    <mat-icon matSuffix (click)="clearSearch()">close</mat-icon>
    }
</mat-form-field>