<mat-form-field [appearance]="textConfig.appearance" [class]="textConfig.inputClass" class="w-100">
    <mat-label>{{ textConfig.label }}</mat-label>
    <div class="d-flex align-items-center position-relative">
        <input matInput [placeholder]="textConfig.label" [formControl]="control" [name]="textConfig.name" type="text"
            [readonly]="textConfig.readonly" />
    </div>
    @if(textConfig.enableSearchIcon && !control.value){
    <mat-icon matSuffix>search</mat-icon>
    }
    @if(control.value){
    <mat-icon matSuffix (click)="clearSearch()">close</mat-icon>
    }
</mat-form-field>